* text=auto eol=lf

# Example of a `.gitattributes` file which reclassifies `.nu` files as Nushell:
*.nu linguist-language=Nushell

# Zig bindings
build.zig linguist-generated
build.zig.zon linguist-generated
